In [1]:
import numpy as np
import pandas as pd
import requests
import re
from bs4 import BeautifulSoup

#### Extracting information from all the url using loops

In [2]:
brand=[]
capacity = []
star_Rating = []
Type = []
Ratings = []
Annual_power = []
warranty = []
room_size = []
price_after_discount = []
discount_percentage = []
Model_year = []
original_price = []
for i in range(2,47):
    url="https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page="+str(i)
    print(url)
    page = requests.get(url)
    soup = BeautifulSoup(page.text)
    b = soup.find_all('div',class_="KzDlHZ")
   
    for i in b:
        brand.append(re.findall(r"\w+\s\w+",i.text)[0])
    
    
    for i in b:
        a = re.findall(r"\d{4}|[0-9]{4}",i.text.split("Model")[0])
        if len(a) > 0:
            Model_year.append(a[0])
        else:
            Model_year.append(np.nan)
    
    
   
    for i in b:
        capacity.append(re.findall(r"\d+\.\d+\sTon|\d\sTon",i.text))
    
    

    for i in b:
        if len(re.findall(r"\d\sStar",i.text)) >0:
            star_Rating.append(re.findall(r"\d\sStar",i.text)[0])
        else:
            star_Rating.append(np.nan)
    
    

    for i in b:
        a = re.findall(r"Star\s\w+\s\w+",i.text)
        if len(a) >=2:
            Type.append(re.findall(r"Star\s\w+\s\w+",i.text)[1])
        elif len(a) == 1:
            Type.append(re.findall(r"Star\s\w+\s\w+",i.text)[0])
        else:
            Type.append(np.nan)
    
    
    r = soup.find_all('div',"XQDdHH")
    for i in r[:24]:
        Ratings.append(i.text)
    
    p = soup.find_all('li','J+igdf')

    for i in p:
        if "Annual" in i.text:
            a = re.findall(r"Annual Power Usage:.*",i.text)
            if len(a) > 0:
                Annual_power.append(a[0].split(":")[1].strip())
            else:
                Annual_power.append(np.nan)
        elif "Room Size" in i.text:
            b = re.findall(r"\bRoom Size:.*|room size:.*|Room.*",i.text)
            if len(b) > 0:
                room_size.append(b[0].split(":")[1].split("sqft")[0].strip())
            else:
                room_size.append(np.nan)
    
        else:
            c = re.findall(r"\W\d\s\w+\sStandard|\d+\s\w+\s\w+\s\w+\sWhole\sProduct|\d\s\w+\s\w+\s\w+\sProduct|\d\s\w+\s\w+\s\w+\s\w+\s[pP]roduct|\d\s\w+\s\w+\s\w+\s\w+\sAC|\d\s\w+\s\w+\sProduct",i.text)
            if len(c) > 0:
                warranty.append(c[0])
            else:
                warranty.append(np.nan)

    
    v = soup.find_all('div',"Nx9bqj _4b5DiR")
    
    for i in v:
        price_after_discount.append(i.text)

    
    i = soup.find_all('div',"yRaY8j ZYYwLA")
    
    for j in i:
        if "₹" in  j.text:
            original_price.append(j.text)
        else:
            original_price.append(np.nan)
    
    d = soup.find_all('div',"UkUFwK")
    
    for i in d[:24]:
        discount_percentage.append(i.text.split("%")[0])

https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=2
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=3
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=4
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=5
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=6
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=7
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=8
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=9
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=10
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=11
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=12
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=13
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=14
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=15
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=16
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=17
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=18
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=19
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=20
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=21
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=22
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=23
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=24
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=25
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=26
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=27
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=28
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=29
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=30
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=31
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=32
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=33
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=34
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=35
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=36
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=37
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=38
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=39
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=40
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=41
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=42
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=43
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=44
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=45
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page=46

In [3]:
len(brand),len(capacity),len(star_Rating),len(Type),len(Ratings),len(Annual_power),len(warranty),len(room_size),len(price_after_discount),len(discount_percentage )

(960, 960, 960, 960, 960, 947, 940, 953, 960, 960)

In [4]:
len(Model_year)

960

In [5]:
len(Annual_power),len(warranty),len(room_size),len(original_price)

(947, 940, 953, 949)

In [7]:
brand=brand[:940]
capacity = capacity[:940]
star_Rating = star_Rating [:940]
Type = Type [:940]
Ratings = Ratings[:940]
Annual_power =Annual_power [:940]
warranty = warranty [:940]
room_size = room_size[:940]
price_after_discount = price_after_discount [:940]
discount_percentage = discount_percentage [:940]
Model_year = Model_year [:940]
original_price = original_price [:940]

In [8]:
vv = {
    "Brand":brand,
    'Model_Year':Model_year,
    'Capacity':capacity,
    "Star_Rating":star_Rating,
    "Inverter_Type":Type,
    "Rating":Ratings,
    "Annual_Power":Annual_power,
    "Room_size":room_size,
    "Warranty":warranty,
    'Original_Price':original_price,
    "Dicount_Pct":discount_percentage,
    "Price_After_Discount":price_after_discount,
}

In [9]:
df = pd.DataFrame(vv)
df

,Brand,Model_Year,Capacity,Star_Rating,Inverter_Type,Rating,Annual_Power,Room_size,Warranty,Original_Price,Dicount_Pct,Price_After_Discount
0,Daikin 2024,2024,[1.5 Ton],5 Star,Star Split Inverter,4.2,785.67 Units,111 - 150,NaN,"₹61,940",31,"₹42,490"
1,MarQ by,NaN,[1.5 Ton],3 Star,Star Split Inverter,4.2,964.1 kWh,111 - 150,1 Year on Product,"₹46,999",46,"₹24,990"
2,Midea 2025,2025,[1.5 Ton],3 Star,Star Split Inverter,4.3,952.68 Units,111 - 150,(1 Year Standard,"₹57,400",51,"₹27,990"
3,Midea 2025,2025,[1 Ton],3 Star,Star Split Inverter,4.3,685.62 Units,90,(1 Year Standard,"₹48,500",45,"₹26,490"
4,Oakter 0,NaN,[0.5 Ton],1 Star,Star Window AC,3.9,348.35 kWh,90,NaN,"₹27,499",38,"₹16,999"
...,...,...,...,...,...,...,...,...,...,...,...,...
935,Hitachi 1,NaN,[1.5 Ton],3 Star,Star Split Inverter,4,536.2 Units,90,1 Year Warranty on Product,"₹45,900",45,"₹33,999"
936,Midea 2025,2025,[1.5 Ton],3 Star,Star Split Inverter,4.3,789.6 Units,111 - 150,1 Year on Product,"₹54,700",51,"₹27,990"
937,CARRIER 2025,2025,[1 Ton],5 Star,Star Split Inverter,4.1,758.6 Units,151 - 200,NaN,"₹63,500",47,"₹31,990"
938,Haier 2024,2024,[1.6 Ton],5 Star,Star Split Inverter,4.2,541.48 W,90,1 Year Comprehensive Warranty on Product,"₹60,500",42,"₹43,650"
939,Blue Star,2024,[1.5 Ton],3 Star,Star Split Inverter,4.1,738.41 Units,90,1 Year Warranty on Product,"₹43,499",44,"₹33,850"

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Brand                 940 non-null    object
 1   Model_Year            678 non-null    object
 2   Capacity              940 non-null    object
 3   Star_Rating           931 non-null    object
 4   Inverter_Type         931 non-null    object
 5   Rating                940 non-null    object
 6   Annual_Power          940 non-null    object
 7   Room_size             940 non-null    object
 8   Warranty              765 non-null    object
 9   Original_Price        940 non-null    object
 10  Dicount_Pct           940 non-null    object
 11  Price_After_Discount  940 non-null    object
dtypes: object(12)
memory usage: 88.3+ KB

In [17]:
df1 = pd.read_csv("firstfile.csv")

In [19]:
df1 = df1[['Brand', 'Model_Year', 'Capacity', 'Star_Rating',
       'Inverter_Type', 'Rating', 'Annual_Power', 'Room_size',
       'Warranty', 'Original_Price', 'Dicount_Pct', 'Price_After_Discount']]

In [20]:
df1

,Brand,Model_Year,Capacity,Star_Rating,Inverter_Type,Rating,Annual_Power,Room_size,Warranty,Original_Price,Dicount_Pct,Price_After_Discount
0,IFB 2025,2025.0,1 Ton,3 Star,Star Split Inverter,4.0,657.31 Units,90,1 Year on Product,"₹48,849",46,"₹25,990"
1,Voltas 2024,2024.0,1 Ton,5 Star,Star Split Inverter,4.2,511.13 Units,90,NaN,"₹63,990",48,"₹32,800"
2,Voltas 2024,2024.0,1.5 Ton,3 Star,Star Split Inverter,4.2,975.26 Units,111 - 150,NaN,"₹57,990",47,"₹30,390"
3,Godrej 2025,2025.0,1.5 Ton,3 Star,Star Split Inverter,4.0,951.91 Units,111 - 150,5 Years Warranty on Whole Product,"₹42,300",33,"₹27,990"
4,realme TechLife,2025.0,1 Ton,3 Star,Star Split Inverter,4.2,684.78 Units,90,1 Year Warranty on Product,"₹47,899",54,"₹21,990"
5,MarQ by,2025.0,1 Ton,3 Star,Star Split Inverter,4.2,684.9 Units,90,1 Year Warranty on Product,"₹45,099",51,"₹21,990"
6,realme TechLife,2025.0,1 Ton,5 Star,Star Split Inverter,4.2,526.8 Units,90,1 Year Warranty on Product,"₹50,699",50,"₹24,990"
7,Voltas 2024,2024.0,1.5 Ton,5 Star,Star Split Inverter,4.2,751.28 Units,111 - 150,NaN,"₹75,990",51,"₹36,970"
8,Voltas 2023,2023.0,0.6 Ton,2 Star,Star Split AC,3.9,475.3 Units,90,NaN,"₹45,808",56,"₹19,990"
9,Blue Star,2025.0,1.5 Ton,3 Star,Star Split Inverter,4.1,1006.84 Units,111 - 150,1 Year Warranty on Product,"₹56,400",41,"₹32,990"
10,Blue Star,2024.0,0.8 Ton,3 Star,Star Split Inverter,4.2,544.39 Units,90,1 Year Warranty on Product,"₹42,500",40,"₹25,490"
11,IFB 2025,2025.0,1.5 Ton,3 Star,Star Split Inverter,4.2,946.17 Units,111 - 150,1 Year on Product,"₹57,146",47,"₹29,990"
12,Panasonic 2025,2025.0,1.5 Ton,3 Star,Star Split Inverter,4.2,977.16 Units,111 - 150,NaN,"₹51,900",33,"₹34,480"
13,Samsung 2025,2025.0,1.5 Ton,3 Star,Star Split Inverter,4.1,852.47 Units,111 - 150,5 years comprehensive warranty on product,"₹72,790",53,"₹33,991"
14,Godrej 2025,2025.0,2.5 Ton,3 Star,Star Split Inverter,4.0,1330.81 Units,NaN,5 Years Warranty on Whole Product,"₹68,000",32,"₹45,999"
15,IFB 2025,2025.0,1.5 Ton,5 Star,Star Split Inverter,4.1,721.04 Units,111 - 150,1 Year on Product,"₹66,365",47,"₹34,590"
16,Midea 2025,2025.0,1.5 Ton,3 Star,Star Split Inverter,4.3,952.68 Units,111 - 150,(1 Year Standard,"₹57,400",51,"₹27,990"
17,Voltas 2024,2024.0,1 Ton,3 Star,Star Split Inverter,4.1,672.93 Units,90,NaN,"₹56,390",52,"₹26,999"
18,Godrej 2025,2025.0,1.5 Ton,4 Star,Star Split Inverter,4.0,835.07 Units,111 - 150,5 Years Warranty on Whole Product,"₹46,000",36,"₹28,990"
19,Lloyd 2023,2023.0,2 Ton,3 Star,Star Split Inverter,3.9,1261.37 Units,151 - 200,1 Year Comprehensive Warranty on Product,"₹77,990",52,"₹36,890"
20,CARRIER 2025,2025.0,1 Ton,5 Star,Star Split Inverter,4.1,536.2 Units,90,NaN,"₹61,300",47,"₹31,990"
21,Samsung 2025,2025.0,1.5 Ton,3 Star,Star Split Inverter,4.1,1047.62 Units,111 - 150,5 years comprehensive warranty on product,"₹63,490",40,"₹37,491"
22,Lloyd 1,NaN,1.5 Ton,3 Star,Star Split Inverter,4.1,941.76 kWh,111 - 150,1 Year Comprehensive Warranty on AC,"₹53,990",44,"₹29,990"
23,Godrej 2025,2025.0,1.4 Ton,3 Star,Star Split Inverter,3.8,905.88 Units,111 - 150,5 Years Warranty on Whole Product,"₹40,450",34,"₹26,690"

In [21]:
df3 = pd.concat([df1,df],ignore_index=True)
df3

,Brand,Model_Year,Capacity,Star_Rating,Inverter_Type,Rating,Annual_Power,Room_size,Warranty,Original_Price,Dicount_Pct,Price_After_Discount
0,IFB 2025,2025.0,1 Ton,3 Star,Star Split Inverter,4.0,657.31 Units,90,1 Year on Product,"₹48,849",46,"₹25,990"
1,Voltas 2024,2024.0,1 Ton,5 Star,Star Split Inverter,4.2,511.13 Units,90,NaN,"₹63,990",48,"₹32,800"
2,Voltas 2024,2024.0,1.5 Ton,3 Star,Star Split Inverter,4.2,975.26 Units,111 - 150,NaN,"₹57,990",47,"₹30,390"
3,Godrej 2025,2025.0,1.5 Ton,3 Star,Star Split Inverter,4.0,951.91 Units,111 - 150,5 Years Warranty on Whole Product,"₹42,300",33,"₹27,990"
4,realme TechLife,2025.0,1 Ton,3 Star,Star Split Inverter,4.2,684.78 Units,90,1 Year Warranty on Product,"₹47,899",54,"₹21,990"
...,...,...,...,...,...,...,...,...,...,...,...,...
959,Hitachi 1,NaN,[1.5 Ton],3 Star,Star Split Inverter,4,536.2 Units,90,1 Year Warranty on Product,"₹45,900",45,"₹33,999"
960,Midea 2025,2025,[1.5 Ton],3 Star,Star Split Inverter,4.3,789.6 Units,111 - 150,1 Year on Product,"₹54,700",51,"₹27,990"
961,CARRIER 2025,2025,[1 Ton],5 Star,Star Split Inverter,4.1,758.6 Units,151 - 200,NaN,"₹63,500",47,"₹31,990"
962,Haier 2024,2024,[1.6 Ton],5 Star,Star Split Inverter,4.2,541.48 W,90,1 Year Comprehensive Warranty on Product,"₹60,500",42,"₹43,650"
963,Blue Star,2024,[1.5 Ton],3 Star,Star Split Inverter,4.1,738.41 Units,90,1 Year Warranty on Product,"₹43,499",44,"₹33,850"

In [16]:
df3.to_csv("final_Ac_data.csv",index=False)